SECRET_KEY=your-secret-key-change-in-production
DEBUG=True

DB_NAME=backend_auth
DB_USER=project_admin
DB_PASSWORD=admin
DB_HOST=127.0.0.1
DB_PORT=5433

JWT_SECRET=your-jwt-secret-change-in-production
JWT_EXPIRATION_HOURS=24
